<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>uk,co.stevehooley.cocoaosax</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>EeEeeeEE</key>
			<string>monkeeeeHandler</string>

			<key>EeEeeeEF</key>
			<string>mouseDouble_ClickHandler</string>

			<key>EeEeeeEG</key>
			<string>mouseClick_Handler</string>

			<key>EeEeeeEH</key>
			<string>mouseDownAt_upAt_Handler</string>


		</dict>
	</dict>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
