<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhraseProbability.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PhraseProbabilityTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TypeSetter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>735F7FFD11466EF1000AC142</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E0CC0811D366D800D4940D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E0CC1411D366EE00D4940D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
